<footer>
  <div class="h2o-container">
    <div class="h2o-footer">
      <div class="h2o-footer__box">
        <ul class="h2o-footer__list">
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-visa"></i></button>
          </li>
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-master"></i></button>
          </li>
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-webmoney"></i></button>
          </li>
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-skrill"></i></button>
          </li>
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-neteller"></i></button>
          </li>
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-interac"></i></button>
          </li>
          <li class="h2o-footer__item">
            <button class="h2o-footer__link h2o-next"><i class="h2o-icon-astropay"></i></button>
          </li>
        </ul>
        <div class="h2o-footer__top">
            <div class="h2o-footer-nav">
              <ul class="h2o-footer-nav__list">
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">О нас</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">Правила и условия</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">БЛОГ</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">ПАРТНЕРАМ</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">ОТВЕТСТВЕННАЯ ИГРА</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">ПОЛИТИКА COOKIE</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">САМООГРАНИЧЕНИЕ</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">РАЗРЕШЕНИЕ СПОРОВ</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">ПОЛИТИКА AML И KYC</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">ЧЕСТНОСТЬ ИГР</button></li>
                <li class="h2o-footer-nav__item"><button class="h2o-footer-nav__link h2o-next">РЕГИСТРАЦИЯ, ВЫПЛАТЫ И БОНУСЫ</button></li>
              </ul>
            </div>

            <ul class="h2o-footer-links">
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-novomatic"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-smartsoft"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-playmer"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-high5"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-micro"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-net"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-ygg"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-quick"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-push"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-betsoft"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-relax"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-nolimit"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-onetouch"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-elk"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-thunder"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-playgo"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-amatic"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-bigtime"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-endorph"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-blueprint"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-bombay"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-habanero"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-3oaks"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-evolution"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-tiger"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-playtech"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-playson"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-pragmat"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-high5"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-1x2"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-booming"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-aleta"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-amatic"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-irondog"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-just"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-wazdan"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-spinogames"></i></button>
              </li>

              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-spribe"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-agames"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-belatra"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-ganapati"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-mascot"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-betgames"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-tomhorn"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-vivo"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-reel"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-kalamba"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-rubyplay"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-hacksaw"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-gameart"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-swintt"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-revolver"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-redrake"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-provision"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-netgaming"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-pg"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-eyecon"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-real"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-gamzix"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-mancala"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-amusnet"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-retro"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-corps"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-turbo"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-bgaming"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-fantasma"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-ezugi"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-onlyplay"></i></button>
              </li>
              <li class="h2o-footer-links__item">
                <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-octoplay"></i></button>
              </li>
            </ul>
        </div>
        <ul class="h2o-footer-links h2o-footer-links--mode">
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-seal"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-curacao"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-itech"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-age"></i></button>
          </li>
          <li class="h2o-footer-links__item">
            <button class="h2o-footer-links__btn h2o-next"><i class="h2o-icon-comodo"></i></button>
          </li>
        </ul>
      </div>

      <div class="h2o-footer__bottom">
        <p>Playfortuna.com управляется компанией NETGLOBE SERVICES LTD, действующей в качестве платежного оператора.
          Компания зарегистрирована по адресу: 79 Spyrou Kyprianou Avenue, Protopapas Building, 2nd floor, office 201,
          3076 Limassol, Cyprus. <br>Регистрационный номер HE 313864</p>
        <p>GLOBONET B.V., компания, зарегистрированная по адресу: Kaya Richard J. Beaujon Z / N, Кюрасао, лицензирована
          правительством Кюрасао под номером 1668 / JAZ.</p>
        <p>Чтобы зарегистрироваться на этом веб-сайте, пользователю необходимо принять <button class="h2o-next">Общие правила и условия.</button> В случае
          обновления Общих правил и условий, существующие пользователи могут отказаться от использования продуктов и
          услуг до того, как указанное обновление вступит в силу, то есть минимум через две недели после его объявления.
        </p>
        <p class="h2o-footer__copy">
          Copyright © 2012-2024. Все права защищены.
        </p>

      </div>
    </div>
  </div>
</footer>