<header class="h2o-header">
  <div class="h2o-container">
    <div class="h2o-header__box">
      <button class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </button>
      <a href="index.html" class="h2o-logo">
        <span class="h2o-icon-logo"></span>
      </a>

      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Новости
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
           Соревнования
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Помощь
          </a>
        </li>
      </ul>

      <div class="h2o-header__socials">
        <span class="h2o-header__text">войти через:</span>
        <ul class="h2o-header__socials-list">
          <li class="h2o-header__socials-item">
            <button class="h2o-next">
              <i class="h2o-icon-google"></i>
            </button>
          </li>
          <li class="h2o-header__socials-item">
            <button class="h2o-next">
              <i class="h2o-icon-mail"></i>
            </button>
          </li>
          <li class="h2o-header__socials-item">
            <button class="h2o-next">
              <i class="h2o-icon-vk"></i>
            </button>
          </li>
          <li class="h2o-header__socials-item">
            <button class="h2o-next">
              <i class="h2o-icon-yandex"></i>
            </button>
          </li>
        </ul>
      </div>

      <div class="h2o-header__btns">
        <button class="h2o-yellow-button h2o-next">Войти</button>
        <button class="h2o-green-button h2o-next">Регистрация</button>
      </div>
    </div>

    <div class="h2o-mobile-menu">
      <div class="h2o-mobile-menu__top">
        <a href="index.html" class="h2o-logo">
          <span class="h2o-icon-logo"></span>
        </a>
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
      </div>
      <ul class="h2o-main-nav">
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Новости
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Промо
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
           Соревнования
          </a>
        </li>
        <li class="h2o-main-nav__item">
          <a href="#" class="h2o-main-nav__link">
            Помощь
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>